{% extends 'layout.html' %}

{% block title %}
	Quote
{% endblock %}

{% block main %}

	{% if price %}

		<p>A share of {{ price.name }} ({{ price.symbol}}) costs {{price.price | usd}}</p>
		<form action="/quote" method="post">
			<div class=mb-auto>
					<input autocomplete="off" class="form-control m-auto" name="ticker" placeholder="Search another ticker" type="text">
				</div>
				<button class="btn btn-primary mt-2" type="submit">Quote</button>
		</form>

	{% else %}
		<form action="/quote" method="post">
			<div class=mb-auto>
					<input autocomplete="off" class="form-control m-auto" name="ticker" placeholder="Enter ticker" type="text">
				</div>
				<button class="btn btn-primary mt-2" type="submit">Quote</button>
		</form>
	{% endif %}
{% endblock %}