@import url("static/bmt.woff");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    margin: 1rem;
    text-align: center;
    font-family: "Berkeley Mono Trial", monospace;
    background-color: #2f2f2f;
}

nav {
    border: 2px solid #e1e1e1;
    border-radius: 1rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
    color: whitesmoke;
}

h2 {
    padding: 1rem;
    color:#e1e1e1;
    background-color: #919191;
    border-radius: 1rem 1rem 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid #e1e1e1;
}

li a {
    display: block;
}

a,
a:visited {
    text-decoration: none;
    color: #e1e1e1;
}

a:hover,
a:focus {
    background: #e1e1e1;
    color: #333;
    cursor: pointer;
}

li:last-child {
    border-radius: 1rem;
}

li:last-child a{
    border-radius: 0 0 1rem 1rem;
}

p {
    color: #e1e1e1 
}